{% extends 'main.tpl.twig' %}

{% block content %}
<div class="content-header">
    <h1 class="ukt-m-0">
        Shift<span class="uk-sub-title">{{ app.language.get('page_title') }}</span>
    </h1>
</div>
<div class="content-body uk-card-panel uk-card-body uk-text-center">
    <h1 class="ukt-mb-2">{{ app.language.get('page_title') }}</h1>
    <p class="ukt-mt-2">{{ app.language.get('content') }}</p>
</div>
{% endblock %}
