{% extends 'main.tpl.twig' %}

{% block content %}
<div class="content-header">
    <h1 class="ukt-m-0">
        Shift<span class="uk-sub-title">{{ app.language.get('installation') }}</span>
    </h1>
</div>
<div class="content-body uk-card-panel uk-card-body uk-form-horizontal">
    <p>...</p>
</div>
{% endblock %}
