.position-wrapper {
    min-height: 64px;
    background: #f8f8f8;
    border-bottom: 3px solid transparent;
}
.position-wrapper:hover {
    border-color: #cddc39;
}
.position-wrapper:hover .position-header {
    background: #cddc39;
}
.uk-grid + .position-wrapper,
.position-wrapper + .uk-grid,
.position-wrapper + .position-wrapper {
    margin-top: 15px;
}

.position-node-sidebar_left,
.position-node-content_left,
.position-node-content_right,
.position-node-sidebar_right {
    height: 100%;
}

.position-wrapper .button-layout {
    padding: 2px 2px;
    height: 24px;
    width: 26px;
    border-radius: 3px;

    height: 22px;
    width: 24px;
}
.position-wrapper .button-layout .bi {
    font-size: 15px;
    line-height: 1em;

    font-size: 13px;
}
.position-wrapper .button-layout .bi-plus {
    font-size: 17px;

    line-height: 15px;
}

.position-header {
    height: 32px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    background: #e4e4e4;
}
.position-rows {
    padding: 8px;
}

.row-wrapper {
    min-height: 64px;
    background: rgba(255,255,255,.4);
    border: 1px dashed rgba(0,0,0,.15);
}
.row-wrapper:hover {
    background: rgba(199,247,255,.2);
}
.row-wrapper + .row-wrapper {
    margin-top: 8px;
}
.row-header {
    height: 32px;
    margin: -1px;
    margin-bottom: 0;
    background: rgba(0,0,0,.05);
}
.row-columns {
    padding: 8px;
}
.row-columns.uk-grid-small {
    margin-left: -8px !important;
}
.row-columns.uk-grid-small > * {
    padding-left: 8px !important;
}

.column-wrapper + .column-wrapper.uk-grid-margin {
    margin-top: 8px !important;
}
.column-container {
    min-height: 64px;
    background: #eee9fd;
}
.column-header {
    height: 32px;
    background: rgba(0,0,0,.06);
}
.column-modules {
    padding: 8px;
    min-height: 48px;
}

.module-wrapper {
    background: #fdfdfd;
}
* + .module-wrapper {
    margin-top: 8px;
}
.module-wrapper .uk-width-auto {
    padding: 5px;
}
.module-data {
    line-height: 1.2em;
    padding: 7px 3px;
    margin-right: 10px;
}
.js-module-trove {
    cursor: pointer;
}

.layout-handle {
    padding: 4px 2px;
    margin-right: 5px;
    display: inline-block;
    background: rgba(0,0,0,.1);
    background: rgba(0,0,0,.15);
}
.layout-handle .bi {
    font-size: 20px;
    line-height: 1;
}
.layout-handle:hover {
    cursor: grab;
    background: #03a9f4;
}

.row-wrapper.sortable-ghost,
.column-wrapper.sortable-ghost .column-container,
.module-wrapper.sortable-ghost {
    opacity: 0.7;
    background: #b5e4ff;
}
.row-wrapper.sortable-ghost .column-container,
.column-wrapper.sortable-ghost .module-wrapper,
.module-wrapper.sortable-ghost .module-data {
    display: none;
}
.row-wrapper.sortable-ghost .column-wrapper,
.column-wrapper.sortable-ghost .column-module {
    height: 40px;
}
.module-wrapper.sortable-ghost {
    height: 32px;
}

.wider-on-hover:hover {
    width: 350px;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

/* Modal  */
.layout-select-modules .uk-modal-body {
    padding: 10px 15px;
}
.layout-select-modules .uk-table th,
.layout-select-modules .uk-table td {
    padding: 7px 6px;
}
