@charset "UTF-8";

/*
 * Table of Content:
 *
 * # Block Layout
 *   - Header Navbar
 *   - Sidebar
 *   - Middle Region
 *
 * # Specific Page
 *   - ...
 *
 * # Misc
 *   - Bootstrap Icons
 *
 * ======================================================================== */

html {
    background: #f9fbfc;
}
body {
    min-width: 640px;
    min-height: 100vh;
}

/*
 * Block Layout
 * ======================================================================== */

/* Header Navbar
==================================== */
:root {
    --navbar-height: 40px;
    --navbar-height: 34px;
}

.page-header {}

.block-navbar .uk-navbar {
    height: var(--navbar-height);
    color: var(--uk-gray-light);
    padding: 0;
    background: #063978;
}
.block-navbar .uk-navbar-item,
.block-navbar .uk-navbar-nav>li>a,
.block-navbar .uk-navbar-toggle {
    color: rgba(255, 255, 255, .8);
    height: var(--navbar-height);
    min-height: var(--navbar-height);
    padding: 0 10px;
}
.block-navbar .uk-navbar-toggle.uk-open,
.block-navbar .uk-navbar-toggle:focus,
.block-navbar .uk-navbar-toggle:hover {
    color: var(--uk-gray-light);
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.navbar-main-icon {
    height: var(--navbar-height);
    padding: 0 15px !important;
    color: rgba(255, 255, 255, .85);
    background-color: rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}
.navbar-main-icon .bi {
    font-size: 24px;
}
.navbar-main-icon:focus,
.navbar-main-icon:hover {
    color: #fbfbfb;
    background-color: rgba(0, 0, 0, 0.3);
}

.block-navbar .logo {
    color: #e4e5e6;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: var(--navbar-height);
    margin-left: 10px;
    cursor: default;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.dropdown-caret {
    content: "";
    height: 0;
    width: 0;
    margin-top: 2px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    border: 4px solid transparent;
    border-top-color: currentcolor;
}

.main-navigation {
    padding: 0;
    width: 380px;
}
.main-navigation > div {
    min-height: 300px;
    margin-left: -7px;
}
.main-navigation .uk-nav a {
    font-size: .95rem;
    color: #333;
    line-height: 1.5;
    margin: 0 -10px;
    padding: 5px 15px !important;
}
.main-navigation .uk-nav a:hover {
    background: rgba(0,0,0,.05);
}
.main-navigation .uk-nav .uk-parent:not(.uk-open) > ul {
    display: none;
}
.main-navigation .uk-nav .uk-parent > a .uk-nav-parent-icon {
    opacity: .57;
    background-size: 13px;
}
.main-navigation .uk-nav .uk-parent > a:hover .uk-nav-parent-icon {
    opacity: 1;
}
.main-navigation .uk-nav a .uk-icon > * {
    color: #666;
}

.main-navigation .uk-nav-sub {
    padding: 0 5px;
    margin-left: 10px;
}
.main-navigation .uk-nav-sub a {
    font-size: .93rem;
    line-height: 1.3;
    margin-right: 0;
    padding: 5px 10px !important;
}
.main-navigation .uk-nav-sub .uk-nav-header {
    font-size: 0.94rem;
    color: #777;
    margin-top: 5px;
    padding: 5px 0 3px;
}
.main-navigation .uk-nav-sub .uk-nav-divider {
    margin: 5px 0;
    border-top: 1px solid rgba(0,0,0,.15);
}

.main-navigation .panel-left,
.main-navigation .panel-right {
    padding: 5px 10px 15px;
}
.main-navigation .panel-left {
    width: 160px;
    background: #4b4e52;
}
.main-navigation .panel-left .uk-nav a {
    color: #ddd;
}
.main-navigation .panel-left .uk-nav a:hover {
    color: #eee;
    background: rgba(0,0,0,.2);
}
.main-navigation .panel-left .uk-nav-divider {
    border-top: 1px solid rgba(255, 255, 255, .25);
}

/* Sidebar
==================================== */
:root {
    --sidebar-width: 180px;
}
@media screen and (max-width: 960px) {
    :root {
        --sidebar-width: 160px;
    }
}

.page-body {
    z-index: 1;
}

.block-sidebar {
    width: var(--sidebar-width);
    background: #fff;
    overflow-x: hidden;
    transition: width .25s ease-out;
    position: relative;
}
.block-sidebar-left {
    border-right: 1px solid rgba(0,0,0,.07);
}
.block-sidebar-right {
    border-left: 1px solid rgba(0,0,0,.07);
}
.hide-sidebar .block-sidebar-left,
.hide-sidebar .block-sidebar-right,
.hide-sidebar-left .block-sidebar-left,
.hide-sidebar-right .block-sidebar-right {
    width: 5px;
    background: rgba(0,0,0,.1);
}

/* Middle Region
==================================== */
.region-middle {
    min-height: calc(100vh - var(--navbar-height));
}

.block-top {
    padding: 2px 0 3px;
    background: rgba(0,0,0,.02);
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.block-top  .uk-breadcrumb > * > * {
    font-size: 12.5px;
}

.main-content .container-content-wrapper{
    padding-top: 20px;
}
.content-header {
    margin-bottom: 20px;
}
.content-body {}

/* --uk-breakpoint-l */
@media (min-width: 1200px) {
    .uk-width-content-sidebar\@l {
        width: 300px;
    }
}

.to-top {
    z-index: 2;
    margin-bottom: 45px;
}
.page-footer {
    color: #666;
    font-size: 12.6px;
    text-align: center;
    padding: 40px 0 75px;
}


/*
 * Misc
 * ======================================================================== */

/* Bootstrap Icons
==================================== */

[class^="bi-"]::before,
[class*=" bi-"]::before {
    line-height: 1em;
}
.bi {
    font-size: 15px;
}
.uk-button .bi {
    line-height: 1.2em;
}
.bi::before {
    vertical-align: -.175em;
}
.bi-2x {
    font-size: 20px;
    margin-top: -5px;
}
.bi-3x {
    font-size: 28px;
    margin-top: -5px;
}
.uk-form-icon.bi {
    font-size: 17px;
    margin-top: 1px;
}

/* Flatpickr
==================================== */
.flatpickr-calendar {
    font-size: 13px;
    width: 220px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    color: #444;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 23px;
    height: 24px;
    width: 80px;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #d4d4d4;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
    padding: 0 10px 0 5px;
    background: #fdfdfd !important;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A) !important;
    background-repeat: no-repeat !important;
    background-position: 100% 60% !important;
}
.flatpickr-current-month .numInputWrapper,
.flatpickr-current-month input.cur-year {
    width: 55px;
}
.flatpickr-current-month .numInputWrapper {
    margin-left: 5px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month input.cur-year:focus {
    outline: 0 !important;
    color: #444 !important;
    background-color: rgba(231,233,253,.4) !important;
    border-color: rgba(59,80,206,.35) !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    padding: 6px 10px;
}

.flatpickr-weekdays {
    width: 220px;
    height: 30px;
    padding: 10px 5px 0;
}
.flatpickr-days {
    width: 220px;
}
.dayContainer {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    padding: 5px 5px;
}
.flatpickr-day {
    flex-basis: 14.2857143%;
    max-width: 27px;
    height: 27px;
    line-height: 24px;
}

.flatpickr-time {
    line-height: 30px;
    max-height: 30px;
    padding: 0 20px;
}
.flatpickr-time .numInputWrapper {
    height: 30px;
}
.flatpickr-time .flatpickr-time-separator {
    width: 20px;
    padding-top: 3px;
    text-align: center;
}
