@charset "UTF-8";

/*
 * Table of Content:
 *
 * # Block Layout
 *   - Header Navbar
 *   - Sidebar
 *   - Middle
 *
 * # Specific Pages
 *   - Tool Log
 *   - Media Manager
 *
 * # Misc
 *   - Bootstrap Icons
 *   - CKEditor 5
 *   - Flatpickr
 *   - Select2
 *
 * ======================================================================== */

:root {
    --uk-font-size: 14px;
    --uk-font-color: #333;
}

html {
    color: var(--uk-font-color);
    background: #f9fbfc;
}
body {
    min-width: 640px;
    min-height: 100vh;
}

/*
 * Layouts
 * ======================================================================== */

/* Header Navbar
==================================== */
:root {
    --navbar-height: 38px;
    --navbar-height: 32px;
}

/* .page-header {} */

.block-navbar .uk-navbar {
    height: var(--navbar-height);
    color: var(--uk-gray-light);
    padding: 0;
    background: #3d3f42;
    background: #2a2b2c;
}
.block-navbar .uk-navbar-item,
.block-navbar .uk-navbar-nav>li>a,
.block-navbar .uk-navbar-toggle {
    color: rgba(255, 255, 255, .8);
    height: var(--navbar-height);
    min-height: var(--navbar-height);
    padding: 0 10px;
}
.block-navbar .uk-navbar-toggle.uk-open,
.block-navbar .uk-navbar-toggle:focus,
.block-navbar .uk-navbar-toggle:hover {
    color: #fff;
    background: #777;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.navbar-main-menu {
    height: var(--navbar-height);
    padding: 0 15px !important;
    padding: 0 12px !important;
    color: rgba(255, 255, 255, .85);
    background: #555;
    background: #107fef;
    border-radius: 0 !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.navbar-main-menu.uk-button .bi {
    font-size: 24px;
    line-height: 1.1em;
    color: #fbfbfb;
}
.navbar-main-menu[aria-expanded="true"]{
    background: #1e87f0;
    background: #1168bf;
}

.block-navbar .logo {
    opacity: 0;
    display: none;
    color: #f3f4f5;
    font-size: 28px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: var(--navbar-height);
    margin-left: 10px;
    cursor: default;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.dropdown-caret {
    content: "";
    height: 0;
    width: 0;
    margin-top: 2px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    border: 4px solid transparent;
    border-top-color: currentcolor;
}

.main-navigation {
    padding: 0;
    width: 380px;
    --uk-position-offset: 3px;
    --uk-position-viewport-offset: 3px;
}
.main-navigation > div {
    min-height: 300px;
}
.main-navigation .uk-nav a {
    font-size: .95rem;
    color: #333;
    line-height: 1.5;
    margin: 0 -10px;
    padding: 5px 12px !important;
}
.main-navigation .uk-nav a:hover {
    background: rgba(0,0,0,.05);
}
.main-navigation .uk-nav .uk-parent:not(.uk-open) > ul {
    display: none;
}
.main-navigation .uk-nav .uk-parent > a .uk-nav-parent-icon {
    opacity: .57;
    background-size: 13px;
}
.main-navigation .uk-nav .uk-parent > a:hover .uk-nav-parent-icon {
    opacity: 1;
}
.main-navigation .uk-nav a .uk-icon > * {
    color: #666;
}

.main-navigation .uk-nav-sub {
    padding: 0 5px;
    margin-left: 10px;
}
.main-navigation .uk-nav-sub a {
    font-size: .93rem;
    line-height: 1.3;
    margin-right: 0;
    padding: 5px 10px !important;
}
.main-navigation .uk-nav-sub .uk-nav-header {
    font-size: 0.94rem;
    color: #777;
    margin-top: 5px;
    padding: 5px 0 3px;
}
.main-navigation .uk-nav-sub .uk-nav-divider {
    margin: 5px 0;
    border-top: 1px solid rgba(0,0,0,.15);
}

.main-navigation .panel-left,
.main-navigation .panel-right {
    padding: 5px 10px 10px;
}
.main-navigation .panel-left {
    background: #3d3f42;
    background: #2a2b2c;
    padding-left: 2px;
    padding-right: 2px;
}
.main-navigation .panel-left .uk-dropdown-nav {
    width: 140px;
    width: 160px;
}
.main-navigation .panel-left .uk-nav a {
    font-size: .9rem;
    color: #ddd;
    margin: 0 -2px;
}
.main-navigation .panel-left .uk-nav a:hover {
    color: #eee;
    background: rgba(0,0,0,.2);
}
.main-navigation .panel-left .uk-nav-divider {
    border-top: 1px solid rgba(255, 255, 255, .25);
}

/* Layout Sidebar
==================================== */
:root {
    --sidebar-width: 180px;
}
@media screen and (max-width: 960px) {
    :root {
        --sidebar-width: 160px;
    }
}

.page-body {
    z-index: 1;
}

.block-sidebar {
    width: var(--sidebar-width);
    background: #fff;
    overflow-x: hidden;
    transition: width .25s ease-out;
    position: relative;
}
.block-sidebar-left {
    border-right: 1px solid rgba(0,0,0,.07);
}
.block-sidebar-right {
    border-left: 1px solid rgba(0,0,0,.07);
}
.hide-sidebar .block-sidebar-left,
.hide-sidebar .block-sidebar-right,
.hide-sidebar-left .block-sidebar-left,
.hide-sidebar-right .block-sidebar-right {
    width: 5px;
    background: rgba(0,0,0,.1);
}

/* Layout Middle
==================================== */
.section-middle {
    min-height: calc(100vh - var(--navbar-height));
}

.section-breadcrumb {
    background: rgba(0,0,0,.02);
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.section-breadcrumb .uk-breadcrumb > * > * {
    font-size: 12.4px;
}

.main-content .container-content-wrapper{
    padding-top: 20px;
}
.content-header {
    margin-bottom: 20px;
}

/* .content-body {} */

.width-content-sidebar {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.width-content-sidebar .uk-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* --uk-breakpoint-l */
@media (min-width: 1200px) {
    .width-content-sidebar {
        width: 300px;
    }
    .width-content-sidebar .uk-nav {
        display: block;
        justify-content: space-between;
    }
    .width-content-sidebar .uk-nav-secondary > li + li:not([class^="ukt-"]) {
        margin-top: 5px !important;
    }
    .width-content-sidebar .uk-card-body {
        padding: 15px;
    }
     .uk-form-margin-hover .width-content-sidebar .uk-fieldset .uk-margin {
        padding: 8px 15px;
        margin: 0 -15px !important;
    }
    .width-content-sidebar .uk-panel-scrollable {
        padding: 5px;
    }
    .width-content-sidebar .uk-list-striped > * {
        padding-left: 5px;
        padding-right: 5px;
    }
    .width-content-sidebar .uk-list-striped .uk-checkbox,
    .width-content-sidebar .uk-list-striped .uk-radio {
        height: 13px;
        width: 13px;
    }
    .width-content-sidebar .uk-list-striped .uk-input-text {
        font-size: .92rem;
    }
}

.page-footer {
    color: #666;
    font-size: 12.6px;
    text-align: center;
    padding: 40px 0 75px;
}


/*
 * Specific Pages
 * ======================================================================== */

/* Tool Log
==================================== */
.logs-content,
.logs-content-pretify {
    min-height: 500px;
    height: 86vh;
    white-space: pre-wrap;
    word-break: break-word;
}
.logs-content-pretify {
    padding: 5px 0;
    cursor: default;
}
.logs-pretify-item {
    padding: 6px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.logs-pretify-item:hover {
    background: #e8eefd;
}
.logs-pretify-item:hover .logs-error {
    color: #b70000;
}

/* Media Manager
==================================== */
.mediamanager {
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.mediamanager-sidebar,
.mediamanager-content {
    padding: 15px;
}

.mediamanager-sidebar {
    font-size: 13px;
    padding: 10px;
    min-width: 200px;
    max-width: 260px;
    height: 80vh;
    border-right: 1px solid #e4e4e4;
}
.mediamanager-content-wrapper {
    padding-bottom: 10px;
    margin-left: -1px;
    border-left: 1px solid #e4e4e4;
}
.mediamanager-content {
    height: calc(80vh);
}
.mediamanager-content .card-thumbnail .card-media {
    height: 130px;
}
.mediamanager-content .card-thumbnail .uk-card-body {
    font-size: .9rem;
    line-height: 1.3;
}
.mediamanager-content .card-thumbnail .uk-card-badge {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1em;
    height: auto;
    padding: 2px 5px;
    top: 3px;
    right: 3px;
}

/* Media Manager in Modal */
.mediamanager-modal.uk-modal-body {
    padding: 3px;
    background: #ddd;
}
.mediamanager-modal .uk-container {
    padding: 0;
}
.mediamanager-inmodal .mediamanager,
.mediamanager-inmodal .mediamanager-sidebar {
    height: 75vh;
}
.mediamanager-inmodal .mediamanager-content {
    height: calc(75vh);
}
.mediamanager-inmodal .content-header {
    display: none;
}
.mediamanager-inmodal .mediamanager {
    box-shadow: none;
}

/* Media Manager input thumbnail */
.card-thumbnail {
    box-shadow: 0 1px 3px rgb(0, 0, 0, .25);
    border-top: 1px solid #eee;
}
.card-thumbnail .uk-card-body {
    font-size: .94rem;
    line-height: 1.4;
    padding: 7px;
/*    background: #f4f5f6;*/
    border-top: 1px solid #eee;
}
.card-thumbnail .uk-card-body *+p {
    margin-top: 8px;
}
.card-thumbnail .card-media {
    height: 140px;
}
.card-thumbnail .button-wrapper {
    padding: 2px;
    background: rgba(125,125,125,.5);
    text-align: center;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    z-index: 99;
}
.mediamanager-inmodal .card-thumbnail .button-wrapper {
    margin-right: 4px;
    text-align: end;
    background: transparent;
}
.card-thumbnail .button-wrapper .button-action {
    font-size: 12px;
    line-height: 1.4;
    padding: 2px 4px 1px;
    border-radius: 3px;
}
.card-thumbnail .button-wrapper .button-action + .button-action {
    margin-left: 2px;
}
.card-thumbnail .button-wrapper .button-action .bi {
    font-size: 14px;
    line-height: 14px;
}


 /* Extension
==================================== */

/* Manage */
#ext-information table td {
    padding: 7px;
}

/* Module */
#ext-module-content a {
    color: inherit;
    text-decoration: none;
}
#ext-module-content .card-trove {
    padding: 12px;
    background-color: #f4f4f4;
}
#ext-module-content .uk-card-badge {
    display: none;
    top: -4px;
    right: -4px;
    height: auto;
}
#ext-module-content a:hover .card-trove {
    background-color: #eee;
}
#ext-module-content a:hover .uk-card-badge {
    display: flex;
}
#ext-module-content h4 {
    font-size: 1.4rem;
    margin:0;
}
#ext-module-content p {
    line-height: 1.4;
    margin:0;
    margin-top: 0.5rem;
}


/*
 * Misc
 * ========================================================================

/* shift.js
==================================== */

.shift-modal-confirm {
    font-size: 16px;
}


/* Bootstrap Icons
==================================== */

[class^="bi-"]::before,
[class*=" bi-"]::before {
    line-height: 1em;
}
.bi {
    font-size: 15px;
}
.uk-button .bi {
    line-height: 1.2em;
}
.bi::before {
    vertical-align: -.175em;
}
.bi-2x {
    font-size: 18px;
    margin-top: 0px;
}
.bi-3x {
    font-size: 20px;
    margin-top: -3px;
}
.bi-4x {
    font-size: 28px;
    margin-top: -5px;
}
.uk-form-icon.bi {
    font-size: 17px;
    margin-top: 1px;
}

/* CKEditor 5
==================================== */

.ck.ck-toolbar,
.ckeditor-wordcount {
    background: #f8f8f8 !important;
}
.ck.ck-toolbar > .ck-toolbar__items {
    font-size: 11px !important;
}
.ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break):not(.ck-toolbar__separator):not(.ck-source-editing-button):not(.cks-icon),
.ck.ck-toolbar > .ck.ck-toolbar__grouped-dropdown {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    padding: 1px !important;
}
.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
    width: 60px !important;
}
.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background-color: #e8e8e8 !important;
}
.ck.ck-list__item .ck-button .ck-button__label {
    line-height: 20px !important;
}

.ck.ck-editor__editable_inline {
    font-size: 13.6px;
    min-height: 300px;
    max-height: 80vh;
    padding: 0 12px !important;
}
.ckeditor-mode-basic .ck-editor__editable_inline {
    min-height: 140px;
}

.ck-editor__editable_inline p,
.ck-editor__editable_inline * + p {
    margin: 10px 0;
}
.ck-editor__editable_inline blockquote p {
    margin: 5px 0;
}
.ck-editor__editable_inline * + h1,
.ck-editor__editable_inline * + h2,
.ck-editor__editable_inline * + h3,
.ck-editor__editable_inline * + h4,
.ck-editor__editable_inline * + h5,
.ck-editor__editable_inline * + h6 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.ck-source-editing-area textarea,
.ck-source-editing-area:after {
    overflow: auto !important;
    font-size: 13px !important;
    line-height: 16px !important;
    min-height: 140px;
    max-height: 80vh;
}

.ckeditor-wordcount {
    text-align: end;
    line-height: 0;
    padding: 5px 5px;
    margin-top: -1px;
    border-left: 1px solid #ccced1;
    border-right: 1px solid #ccced1;
    border-bottom: 1px solid #ccced1;
}
.ck-word-count__words,
.ck-word-count__characters {
    font-size: 11px;
    line-height: 11px;
    display: inline-block;
    margin: 0 5px;
}

/* Flatpickr
==================================== */
.flatpickr-calendar {
    font-size: 13px;
    width: 220px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    color: #444;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 23px;
    height: 24px;
    width: 92px;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #ccc;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
    padding: 0 10px 0 5px;
    background: #fdfdfd !important;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A) !important;
    background-repeat: no-repeat !important;
    background-position: 100% 60% !important;
}
.flatpickr-current-month .numInputWrapper,
.flatpickr-current-month input.cur-year {
    width: 55px;
}
.flatpickr-current-month .numInputWrapper {
    margin-left: 5px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month input.cur-year:focus {
    outline: 0 !important;
    color: #444 !important;
    background-color: rgba(231,233,253,.4) !important;
    border-color: rgba(59,80,206,.35) !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    padding: 6px 10px;
}

.flatpickr-weekdays {
    width: 220px;
    height: 30px;
    padding: 10px 5px 0;
}
.flatpickr-days {
    width: 220px;
}
.dayContainer {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    padding: 5px 5px;
}
.flatpickr-day {
    flex-basis: 14.2857143%;
    max-width: 27px;
    height: 27px;
    line-height: 24px;
}

.flatpickr-time {
    line-height: 30px;
    max-height: 30px;
    padding: 0 20px;
}
.flatpickr-time .numInputWrapper {
    height: 30px;
}
.flatpickr-time .flatpickr-time-separator {
    width: 20px;
    padding-top: 3px;
    text-align: center;
}

/* Select2
==================================== */
/* === Select Dropdown === */
.select2-container {
    max-width: 100%;
}
.select2-container,
.select2-container * {
    outline: 0;
}
.select2-container--default .select2-selection--single {
    font-size: .94rem;
    line-height: 32px;
    height: 34px;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
}
.select2-container.select2-container--focus .select2-selection--single {
    background-color: rgba(231,233,253,.4);
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 10px;
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    padding-right: 20px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23444%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    top: 10px;
    right: 5px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-dropdown {
    border-color: #ccc;
}
.select2-search--dropdown {
    padding: 6px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    background-color: rgba(231,233,253,.4);
}
.select2-results__option {
    padding: 3px 10px;
}

/* === Multiple Select Dropdown === */
.select2-container--default .select2-selection--multiple {
    font-size: .9rem;
    padding: 0;
    padding-bottom: 2px;
/*    height: 34px;*/
    line-height: 30px !important;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 3px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ccc;
    background-color: rgba(231,233,253,.4);
}
.select2-container .select2-search--inline .select2-search__field,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-top: -1px;
    height: 22px;
    line-height: 20px;
    background-color: #f8f8f8;
    vertical-align: middle;
}
.select2-container .select2-search--inline .select2-search__field {
    background-color: transparent;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fafffc;
    border: 1px solid #ccc;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding: 0 3px;
    font-size: 18px;
    background-color: #eee;
    border-right: 1px solid #ccc;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #e4e4e4;
}

.select2-container--default .select2-tags-dropdown .select2-results__option {
    font-size: .9rem;
    margin: 5px;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 3px;
}
.select2-container--default .select2-results__option--selected {
    background-color: #ddd !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: #444;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
    background-color: #5897fb !important;
    color: white;
}

/* JSTree
==================================== */
.jstree-anchor {
    margin-left: -5px;
    padding: 0 8px 0 1px;
}
.jstree-default .jstree-node {
    margin-left: 20px;
}

.jstree-default > .jstree-container-ul > .jstree-node:first-child {
    padding-top: 4px;
}
.jstree-default > .jstree-container-ul > .jstree-node {
    padding-bottom: 4px;
}
.jstree-default .jstree-clicked {
    font-style: italic;
    background: #eef3ff;
    border-radius: 0;
    box-shadow: none;
}
.jstree-default .jstree-hovered {
    background: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
}
.jstree-rename-input {
    background: #f8f8f8;
    color: #444;
    font-size: 13px !important;
    padding: 4px 5px !important;
    width: 125px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    display: inline-block;
    outline: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.vakata-context {
    font-size: 12px;
    width: 125px;
    padding: 4px;
    margin-left: 20px;
    background: #fff;
    border: 0;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    z-index: 1100;
}
.vakata-context li:focus {
    outline: 0;
}
.vakata-context li > a {
    color: #444;
    font-size: 12.4px;
    line-height: 1.2;
    margin: 0 -4px;
    padding: 3.5px 8px 4.5px;
}
.vakata-context li > a i,
.vakata-context li > a span {
    display: none !important;
}
.vakata-context li > a:hover,
.vakata-context .vakata-context-hover > a {
    color: #222;
    text-shadow: none;
    background-color: rgba(145, 145, 145, 0.12);
    box-shadow: none;
}

/* CodeMirror
==================================== */
.CodeMirror {
    height: auto;
    background: #fdfdfd;
}
.CodeMirror-scroll {
    min-height: calc(100vh - 75px);
}
.CodeMirror pre {
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: -0.2px !important;
}
.CodeMirror-gutters {
    background: rgba(0,0,0,0.025);
    border-right: 1px solid transparent;
}
.CodeMirror-linenumber {
    font-size: 11px;
    line-height: 15px;
    color: rgba(0,0,0,.4);
    padding: 1px 8px 0 5px;
}
.CodeMirror-activeline-background {
    background: rgba(0,0,0,0.04);
}
.CodeMirror-activeline-gutter {
    background: rgba(0,0,0,0.08);
}
.CodeMirror-activeline-gutter .CodeMirror-linenumber {
    color: rgba(0,0,0,.65);
    font-weight: 600;
}
.CodeMirror-foldmarker {
    color: #1919ca;
    text-shadow: #dfceff 1px 1px 2px, #dfceff -1px -1px 2px, #dfceff 1px -1px 2px, #dfceff -1px 1px 2px;
}

/* Use codemirror theme to set height */
.cm-s-basic .CodeMirror-scroll {
    min-height: 300px;
    max-height: calc(100vh - 150px);
}
