<div class="uk-container">
    {{ shift.lib.language.get('blockFooter.copyright')|raw }} <br>
    {{ shift.lib.language.get('blockFooter.version')|format(shift.lib.config.get('root.version')) }}
</div>
