<div id="search" class="input-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control">
    <div class="input-group-append">
       <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
