{% extends 'document.tpl.twig' %}

{% block document_body %}
<div class="uk-container uk-container-small container-content-wrapper">

<header class="page-header"></header>

<div class="page-body ukt-mt-5">
    <main class="main-content">
        {% block content %}No content available!{% endblock %}
    </main>
</div>

<footer class="page-footer">
    <div class="uk-container">
        {{ shift.lib.language.get('copyright')|raw }} <br>
        {{ shift.lib.language.get('version')|format(shift.lib.config.get('root.version')) }}
    </div>
</footer>

</div>
{% endblock %}
