{% extends 'document.tpl.twig' %}

{% block base_body %}
<div class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <div class="uk-text-center" style="margin-top:-150px">
        <h1>{{ app.language.get('page_title') }}</h1>

        <p class="uk-text-large">{{ app.language.get('content')|nl2br|raw }}</p>
    </div>
</div>
{% endblock %}
