@charset "UTF-8";

:root {
    --uk-font-size: 15px;
    --id-navbar-top-height: 38px;
    --id-navbar-main-height: 38px;
}


/* UIkit Sketsa extra
============================== */

.uk-navbar-dropdown-nav>li>a {
    color: #444;
}
.uk-navbar-nav > li > a {
    text-transform: none;
}

.uk-list-collapse > * > ul,
.uk-list-collapse > :nth-child(n+2) {
    margin-top: 3px;
}


/* Header
============================== */

.page-header {}

.section-navbar-top {
    background: var(--uk-gray-deep);
}
.section-navbar-top .uk-navbar-item,
.section-navbar-top .uk-navbar-nav > li > a,
.section-navbar-top .uk-navbar-toggle {
    font-size: 1rem;
    height: var(--id-navbar-top-height);
    min-height: var(--id-navbar-top-height);
}
.section-navbar-top .uk-search-navbar {
    width: 200px;
}
.section-navbar-top .uk-search-navbar .uk-search-icon {
    width: 15px;
    height: var(--id-navbar-top-height);
}
.section-navbar-top .uk-search-navbar .uk-search-input {
    font-size: 1rem;
    height: var(--id-navbar-top-height);
    padding: 0;
    padding-left: 25px !important;
}

.section-header {
    padding: 15px 0 15px;
}

.navbar-main .uk-navbar-item,
.navbar-main .uk-navbar-nav > li > a,
.navbar-main .uk-navbar-toggle {
    font-size: 15px;
    padding: 0 25px;
    border-radius: 3px;
    color: inherit;
    height: var(--id-navbar-main-height);
    min-height: var(--id-navbar-main-height);
    line-height: var(--id-navbar-main-height);
}

/* Middle
============================== */

.page-body {
    padding: 30px 0 40px;
}
@media (min-width: 960px) {
    .page-body {
        padding: 40px 0 50px;
    }
}
.section-middle {
    min-height: 40vh;
}


/* Footer
============================== */
.page-footer {}
