{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-small uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-body uk-card-primary">Card</div>
    </div>
    <div>
        <div class="uk-card uk-card-body uk-card-primary uk-background-purple">Card</div>
    </div>
    <div>
        <div class="uk-card uk-card-body uk-card-secondary">Card</div>
    </div>
    <div>
        <div class="uk-card uk-card-body uk-card-primary uk-background-teal">Card</div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card-panel uk-card-body uk-card-default">Card</div>
    </div>
    <div>
        <div class="uk-card-panel uk-card-body uk-card-default">Card</div>
    </div>
    <div>
        <div class="uk-card-panel uk-card-body uk-card-default">Card</div>
    </div>
    <div>
        <div class="uk-card-panel uk-card-body uk-card-default">Card</div>
    </div>
    <div class="uk-width-3-4">
        <div class="uk-card-panel uk-card-body uk-card-default">Card</div>
    </div>
</div>
{% endblock %}
