{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-child-width-expand" uk-grid>
            <div class="uk-width-auto@s"><h1>{{ app.language.get('page_title') }}</h1></div>
            <div class="uk-flex uk-flex-middle uk-flex-right"></div>
        </div>
    </div>

    <div class="content-body">
        <div class="uk-card-panel uk-card-body">
<pre><code>Installer:
- Upload & Install Extension
    - Upload zip package to path "temp/extension".
- Install from Folder
    - Path "temp/extension".
    - Show all uploaded package (installer/ FTP).
    - Buttons: extract and delete package.
</code></pre>
        </div>
    </div>
</div>
{% endblock %}
