<div class="content-body">
    <div class="uk-grid-column-small uk-grid-small uk-child-width-1-3@s" uk-grid="masonry:true">
        {% for module in modules %}
            <div>
                <a href="{{ module.url_add }}">
                    <div class="uk-background-muted">
                        <h4>{{ module.name }} v{{ module.version }}</h4>
                        {% if module.description %}
                        <p>{{ module.description }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
